<!DOCTYPE html>
<html>
<head>
	<title>
		Challenge
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.js"></script>
	<script type="text/javascript" src="js/angular-1.4.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

	<script type="text/javascript" src="js/challengeModule.js"></script>

	<script type="text/javascript" src="js/projectService.js"></script>
	<script type="text/javascript" src="js/departmentService.js"></script>
	<script type="text/javascript" src="js/deadlineService.js"></script>
	<script type="text/javascript" src="js/resourceService.js"></script>

	<script type="text/javascript" src="js/newProjectService.js"></script>
	<script type="text/javascript" src="js/newDepartmentService.js"></script>
	<script type="text/javascript" src="js/newDeadlineService.js"></script>
	<script type="text/javascript" src="js/newResourceService.js"></script>

	<script type="text/javascript" src="js/projectsController.js"></script>
	<script type="text/javascript" src="js/projectController.js"></script>
	<script type="text/javascript" src="js/departmentController.js"></script>
	<script type="text/javascript" src="js/deadlinesController.js"></script>
	<script type="text/javascript" src="js/resourcesController.js"></script>

	<script type="text/javascript" src='js/urlStates.js'></script>
</head>
<body data-ng-app='ChallengeApp'>
	<div ui-view></div>
	
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>