<!DOCTYPE html>
<html>
<head>
	<title>
		Challenge
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.js"></script>
	<script type="text/javascript" src="js/angular-1.4.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

	<script type="text/javascript" src="modules/challengeModule.js"></script>

	<script type="text/javascript" src="modules/_projectsModule/projectService.js"></script>
	<script type="text/javascript" src="modules/_departmentsModule/departmentService.js"></script>
	<script type="text/javascript" src="modules/_deadlinesModule/deadlineService.js"></script>
	<script type="text/javascript" src="js/_resourcesModule/resourceService.js"></script>

	<script type="text/javascript" src="modules/_projectsModule/newProjectService.js"></script>
	<script type="text/javascript" src="modules/_departmentsModule/newDepartmentService.js"></script>
	<script type="text/javascript" src="modules/_deadlinesModule/newDeadlineService.js"></script>
	<script type="text/javascript" src="modules/_resourcesModule/newResourceService.js"></script>

	<script type="text/javascript" src="modules/_projectsModule/projectsController.js"></script>
	<script type="text/javascript" src="modules/_projectsModule/projectController.js"></script>
	<script type="text/javascript" src="modules/_departmentsModule/departmentController.js"></script>
	<script type="text/javascript" src="modules/_deadlinesModule/deadlinesController.js"></script>
	<script type="text/javascript" src="modules/_resourcesModule/resourcesController.js"></script>

	<script type="text/javascript" src='modules/urlStates.js'></script>
</head>
<body data-ng-app='ChallengeApp'>
	<div ui-view></div>

</body>
</html>